* {
  outline: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gird-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

#header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

#sidebar {
  grid-area: sidebar;
  background-color: aquamarine;
  padding-left: 8px;
}

#main-content {
  grid-area: main-content;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(2, max(200px, 40%));
  grid-template-areas:
    "your-projects announcements"
    "your-projects trending";
  gap: 10px;
}

.your-projects {
  grid-area: your-projects;
}

#announcements {
  grid-area: announcements;
}

#trending {
  grid-area: trending;
}

#project-cart-grid {
  display: grid;
  overflow: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 10px;
}

.project-cart {
  background: linear-gradient(90deg, yellow 0%, white 7%);
  padding: 30px 20px;
  border-radius: 5px;
  margin-left: 10px;
}

.project-cart-icons {
  display: flex;
  justify-content: end;
  gap: 5px;
  margin-top: 20px;
}

#announcement-cart {
  background: white;
  padding: 30px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: auto;
  margin-right: 10px;
}

#trending-cart-container {
  background: white;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  margin-right: 10px;
}

#trending-cart {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "avatar-picture heading-5"
    "avatar-picture paragraph-trending";
  background: white;
  align-items: center;
  margin-bottom: 10px;
}

#trending-picture {
  grid-area: avatar-picture;
  align-self: center;
  justify-self: center;
}

#heading-5 {
  grid-area: heading-5;
}

#paragraph-trending {
  grid-area: paragraph-trending;
}

#sidebar-start > img {
  height: 35px;
  width: 35px;
}

#sidebar-middle > img,
#sidebar-end > img {
  height: 20px;
  width: 20px;
}

#sidebar-start,
#sidebar-middle,
#sidebar-end {
  display: grid;
  grid-template-columns: 1fr 6fr;
  column-gap: 10px;
  align-items: center;
  row-gap: 15px;
}

#sidebar-middle,
#sidebar-end {
  margin-top: 30px;
}

#header-end {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  width: 30px;
  height: 30px;
}

#header-start-left {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#header-start-right {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
}

#header-end-left {
  display: grid;
  grid-template-areas:
    "avatar-picture paragraph"
    "avatar-picture heading-1";
  align-items: center;
  column-gap: 15px;
}

#avatar-picture {
  grid-area: avatar-picture;
  height: 80px;
  width: 80px;
  align-self: center;
  justify-self: center;
}

#paragraph {
  grid-area: paragraph;
}

#heading-1 {
  grid-area: heading-1;
}

#header-end {
  margin-left: 15px;
  margin-right: 15px;
  gap: 50px;
  align-items: center;
  margin-bottom: 20px;
}

#header-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

#header-end-right {
  display: flex;
  justify-content: right;
  gap: 30px;
}

button {
  background-color: aquamarine;
  color: black;
  font-size: medium;
  border-radius: 20px;
  padding: 10px 20px;
}

#input-field {
  /* height: 25px; */
  width: 300px;
  background-color: lightgray;
  border: none;
  border-radius: 1rem;
  text-align: left;
  margin-right: 25px;
  text-align: left;
  padding-left: 15px;
}

#your-projects-heading {
  margin-left: 10px;
}
